# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# VS Code settings
.vscode/

# Test cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Logs
*.log